In [2]:
import pandas as pd 

df = pd.read_csv('adult.data.csv')

df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
# How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)
df.groupby(['race'])['race'].count().sort_values(ascending=False)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [4]:
# What is the average age of men?
df['age'].mean()

38.58164675532078

In [5]:
# What is the percentage of people who have a Bachelor's degree
x = df[df['education'] == 'Bachelors'] # approach 1 
y = df.groupby(['education']).get_group('Bachelors') # approach 2
z = len(y)/len(df) * 100 

print(z)

16.44605509658794

In [6]:
df['education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [7]:
# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
df[df['education'] == 'Masters'].groupby(['salary'])['salary'].count()

salary
<=50K    764
>50K     959
Name: salary, dtype: int64

In [8]:
masters = df[df['education'] == 'Masters'].groupby(['salary'])['salary'].count().values[1]

In [9]:
bachelors = df[df['education'] == 'Bachelors'].groupby(['salary'])['salary'].count().values[1]

In [10]:
doctorate = df[df['education'] == 'Doctorate'].groupby(['salary'])['salary'].count().values[1]

In [14]:
masters + bachelors + doctorate

3486

In [34]:
test1 = df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])
test2 = df['salary'] == '>50K'

In [37]:
(test1 & test2).sum()

3486