In [1]:
pip install pandas

Requirement already satisfied: pandas in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.20.3 in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from pandas) (1.24.4)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd 

df = pd.read_csv('adult.data.csv')

df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
# How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)
df.groupby(['race'])['race'].count().sort_values(ascending=False).tolist()

[27816, 3124, 1039, 311, 271]

In [4]:
# What is the average age of men?
round(df[df['sex'] == 'Male']['age'].mean(), 1)

39.4

In [5]:
# What is the percentage of people who have a Bachelor's degree
x = df[df['education'] == 'Bachelors'] # approach 1 
y = df.groupby(['education']).get_group('Bachelors') # approach 2
z = len(y)/len(df) * 100 

print(z)

16.44605509658794

In [6]:
round(len(df.groupby(['education']).get_group('Bachelors')) / len(df) * 100, 1)

16.4

In [7]:
df['education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [8]:
# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
df[df['education'] == 'Masters'].groupby(['salary'])['salary'].count()

salary
<=50K    764
>50K     959
Name: salary, dtype: int64

In [9]:
masters = df[df['education'] == 'Masters'].groupby(['salary'])['salary'].count().values[1]

In [10]:
bachelors = df[df['education'] == 'Bachelors'].groupby(['salary'])['salary'].count().values[1]

In [11]:
doctorate = df[df['education'] == 'Doctorate'].groupby(['salary'])['salary'].count().values[1]

In [12]:
masters + bachelors + doctorate

3486

In [33]:
test1 = df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])
test2 = df['salary'] == '>50K'

In [34]:
# higher education & salary >50K
round((test1 & test2).sum() / test1.sum() * 100, 1)

46.5

In [35]:
# lower education & salary >50K
round((~test1 & test2).sum() / (~test1).sum() * 100, 1)

17.4